  <section id="promotion">
    <div class="promotion col-12">
      <div class="col-6 h-100 d-flex justify-content-center align-items-center">
        <div class="prom-text">
          <div class="texts">
            <p class="cursive-title">bienvenidos a</p>
            <p class="title">Flores + Cafe</p>
            <p class="text">Haz que alguien sonria con el combo mas bonito: bebida + flores frescas</p>

          </div>
          <button class="fav-btn d-none d-md-block">¡Quiero Sorprender!</button>
        </div>


      </div>

      <div class="col-6 m-0 p-0 h-100 d-flex justify-content-center align-items-center">
        <div class="prom-img">
          <img src="assets/promotion.webp" alt="promotion">
        <p><b>Disponible solo para envio en Queretaro </b>para que tu regalo llegue con la frescura y el cariño que nos caracteriza</p>
        </div>
      </div>
       <button class="fav-btn d-block d-md-none mt-4">¡Quiero Sorprender!</button>
    </div>
  </section>
