  <section id="about">
    <div class="about">
      <div class="col-ab">
        <div>
        <p class="cursive-title">conoce a</p>
        <p class="title">Pretty Lamb</p>
        </div>
        <p>En <b>Pretty Lamb</b>, te invitamos a vivir una experiencia única donde el aroma del café se mezcla con la frescura de las flores. Nuestra encantadora cafetería-florería de estilo francés combina lo natural con lo acogedor. Cada rincón está pensado para inspirar, desde nuestra exhibición de flores frescas hasta los grandes ventanales que llenan el espacio de luz. Pretty Lamb no es solo un café, es un refugio de aromas, colores y momentos bonitos.</p>
      </div>

      <div class="col-ab">
        <img src="assets/grid.webp" alt="IG grid">
      </div>
    </div>
  </section>
