<footer>
  <div class="p-container">
   <div class="s-container">
       <div class="logo-cont"> <img src="assets/logo.webp" alt=""></div>
    <div class="text-cont">
      <ul>
          <li><a routerLink="menu">Menu</a></li>
          <li><a routerLink="flores">Flores + Cafe</a></li>
          <li><a [routerLink]="['/home']" fragment="location">Sucursales</a></li>
           <li class=" d-block d-md-none"><a [routerLink]="['/home']" fragment="about">Conócenos</a></li>
           <li class=" d-block d-md-none"><a routerLink="members">Pretty Lamb Members</a></li>
          <li class=" d-flex d-md-none social-icons">
           <a target="_blank" href="https://www.instagram.com/prettylamb__/?hl=es">
            <i class="bi bi-instagram"></i>
           </a>
          <a target="_blank" href="https://www.tiktok.com/@prettylamb__">
            <i class="bi bi-tiktok"></i>
          </a>
          </li>

      </ul>
    </div>
    <div class="text-cont2 d-none d-md-block">
      <ul>
        <li><a  [routerLink]="['/home']" fragment="about">Conócenos</a></li>
        <li><a routerLink="members">Pretty Lamb Members</a></li>

        <li class="social-icons">
          <a target="_blank" href="https://www.instagram.com/prettylamb__/?hl=es">
            <i class="bi bi-instagram"></i>
          </a>
          <a target="_blank" href="https://www.tiktok.com/@prettylamb__">
            <i class="bi bi-tiktok"></i>
          </a>
        </li>
    </ul>

    </div>
   </div>
    <div class="d-none d-md-block cards">
      <div class="icons">
      <i class="bi bi-credit-card"></i>
      <i class="bi bi-paypal"></i>
      </div>
        <p>Presencia en uber eats</p>
    </div>
  </div>

<div class="linea-con-imagen">
  <img src="assets/logo.webp" alt="icono" class="imagen-centro">
</div>


  <div class="sec-container">
    <ul>
      <li>Politicas de Privacidad</li>
      <li>Cookies</li>
      <li>Terminos y Condiciones</li>
    </ul>
  </div>

   <div class=" d-block d-md-none cards">
      <div class="icons">
      <i class="bi bi-credit-card"></i>
      <i class="bi bi-paypal"></i>
      </div>
        <p>Presencia en uber eats</p>
    </div>

</footer>
