<footer>
  <div class="p-container">
   <div class="s-container">
       <div class="logo-cont"> <img src="assets/logo.webp" alt=""></div>
    <div class="text-cont">
      <ul>
          <li>Menu</li>
          <li>Flores + Cafe</li>
          <li>Sucursales</li>
      </ul>
    </div>
    <div class="text-cont2">
      <ul>
          <li>Conocenos</li>
          <li>Pretty Lamb Members</li>
          <li style=" display:flex; flex-direction:row; gap: .75rem;"><i class="bi bi-instagram"></i><i class="bi bi-tiktok"></i></li>
      </ul>
    </div>
   </div>
    <div class="d-none d-md-block cards">
      <div class="icons">
      <i class="bi bi-credit-card"></i>
      <i class="bi bi-paypal"></i>
      </div>
        <p>Presencia en uber eats</p>
    </div>
  </div>

<div class="linea-con-imagen">
  <img src="/assets/logo.webp" alt="icono" class="imagen-centro">
</div>


  <div class="sec-container">
    <ul>
      <li>Politicas de Privacidad</li>
      <li>Cookies</li>
      <li>Terminos y Condiciones</li>
    </ul>
  </div>

   <div class=" d-block d-md-none cards">
      <div class="icons">
      <i class="bi bi-credit-card"></i>
      <i class="bi bi-paypal"></i>
      </div>
        <p>Presencia en uber eats</p>
    </div>

</footer>
