<div [style.background-image]="'url(\'assets/banner.jpg\')'" class="text-center banner">
    <h2 class="cursive-title">nuestro</h2>
    <h2 class="title">Menú</h2>
</div>


<section id="menu" class="container-fluid py-4">
  <!-- Categorías -->
  <div class="row text-center mb-4 justify-content-center">

    <!-- Bebidas -->
    <div class="col-4 col-md-2 py-2"
         (click)="selectCategory('bebidas')"
         [class.borders]="selected === 'bebidas'">
      <i class="bi bi-cup-straw fs-1 mb-2"></i>
      <p class="pointer">Bebidas</p>
    </div>

    <!-- Bagels -->
    <div class="col-4 col-md-2 py-2"
         (click)="selectCategory('bagels')"
         [class.borders]="selected === 'bagels'">
      <i class="bi bi-basket2 fs-1 mb-2"></i>
      <p class="pointer">Bagels</p>
    </div>

    <!-- Flores -->
    <div class="col-4 col-md-2 py-2"
         (click)="selectCategory('flowers')"
         [class.borders]="selected === 'flowers'">
      <i class="bi bi-flower1 fs-1 mb-2"></i>
      <p class="pointer">Flowers</p>
    </div>

  </div>

<div class="row g-3">

  <div  class="col-6 col-md-4 d-flex flex-column align-items-center"  *ngFor="let item of filteredProducts" (click)="selectProduct(item)">
    <img  [src]="item.img" class="img-fluid mb-2" alt="">

    <p class="text-prod text-center mb-0">{{ item.name }}</p>
  </div>
  <p style="text-align: center; margin-top: 2rem;"><a class="homelink" routerLink="/home">&lt; Volver a Inicio</a></p>

</div>

</section>



<!-- MODAL DESLIZANTE -->
<div class="product-modal" [class.open]="modalOpen" [class.mobile]="isMobile">
  <div class="modal-content">
    <i class="bi bi-x-lg close-btn" (click)="closeModal()"></i>

    <img [src]="selectedProduct?.img" class="img-modal mb-2" alt="">
    <div class="modal-text">
     <p class="name">{{ selectedProduct?.name }}</p>
     <p class="name"><b>{{selectedProduct?.price}}</b></p>
     <p>{{ selectedProduct?.description }}</p>
     <button class="boton-prod mt-2" (click)="addToCart(selectedProduct)">Agregar</button>
    </div>
  </div>
</div>

<!-- OVERLAY -->
<div class="modal-overlay" *ngIf="modalOpen" (click)="closeModal()"></div>
