
.img-fluid{
  max-width: 75%;
  border-radius: 10%;
  background-color:#F9F6ED;
}

.banner {
  position: relative;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("/assets/fig and honey.png");
  background-size: cover;
  background-position: center;
  color: #F9F6ED;
}

.banner::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(0,0,0,0.5); /* controla la opacidad aquí */
  z-index: 1; /* debajo del contenido */
}

.banner * {
  position: relative;
  z-index: 2; /* asegura que texto y iconos queden arriba */
}



.pointer{
  cursor: pointer;
}
.borders {
  border-bottom: 2px solid black; /* define el grosor y color */
}
#menu{
  background-color: #F9F6ED;
}

i{
  cursor: pointer;
}
.text-prod{
  font-size: 1.5rem;
   font-family: "Old Standard TT", serif;
}

@media (max-width:768px){
  .banner{
    padding-top: 10vh;
  }
}


