
.img-fluid{
  max-width: 75%;
  border-radius: 10%;
  background-color:#F9F6ED;
}

.banner {
  position: relative;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  background-position: center;
  color: #F9F6ED;
}

.banner::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(0,0,0,0.5); /* controla la opacidad aquí */
  z-index: 1; /* debajo del contenido */
}

.banner * {
  position: relative;
  z-index: 2; /* asegura que texto y iconos queden arriba */
}



.pointer{
  cursor: pointer;
}
.borders {
  border-bottom: 2px solid black; /* define el grosor y color */
}
#menu{
  background-color: #F9F6ED;
}

i{
  cursor: pointer;
}
.text-prod{
  font-size: 1.5rem;
   font-family: "Old Standard TT", serif;
}

@media (max-width:768px){
  .banner{
    padding-top: 10vh;
  }
}



.img-modal{
  width: 100%;
  max-height: 47vh;
  border-radius:0;
  background-color:#F9F6ED;
}


.product-modal {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100vh;
  width: 25%;
  background-color: #F9F6ED;
  box-shadow: -3px 0 10px rgba(0,0,0,0.3);
  transition: left 0.5s ease;
  z-index: 2000;
  padding: 0rem;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}





.modal-text{
    padding: 1.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  flex-grow: 1;


  .name{
    font-size: 1.75rem;
   font-family: "Old Standard TT", serif;
  }
}


@media (max-width:768px) {
  .modal-text{
    gap: 0;
    p{
      margin: 0;
      padding: 0;
    }
  }

}

.product-modal.open {
  left: 0; /* entra desde la derecha */
}

.boton-prod{
  align-self: center;
  width: 90%;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 4rem;
  background-color: transparent;
  color: #3D5CA1;
  border-color: #3D5CA1;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  z-index: 2;

}



.product-modal.mobile {
  width: 100%;

  height: 90vh;
  top: auto;
  bottom: 0;
  transform: translateY(90vh);
  transition: transform 0.45s ease-out;
  will-change: transform;
}

.product-modal.mobile.open {
    transform: translateY(0);
}

.modal-overlay {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 1000;
}

.modal-content .close-btn {
  height: 100%;
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.homelink{
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
   font-family: "Old Standard TT", serif;
  color: black;
  margin-top: 2rem;

}
