<section id="members">
  <div class="fluid-container row m-0 p-0">

    <!-- Banner -->
    <div class="col-12 col-md-6 banner container p-0 m-0"
         [style.background-image]="'url(\'assets/banner.jpg\')'">
      <p class="cursive-title">bienvenido a</p>
      <p class="title">Pretty Lamb Members</p>
      <button>Unirme Ahora</button>
    </div>

    <!-- Cards -->
    <div class="col-12 col-md-6 container pt-5 p-3 m-0">
      <div class="row">

        <div class="col-12 col-md-6 card mb-4 text-center">
          <img src="assets/members4.webp" class="member-img" alt="Miembro 1">
          <p class="member-name">Bebida o Bagel por cada compra acumulada</p>
        </div>

        <div class="col-12 col-md-6 card mb-4 text-center">
          <img src="assets/members3.webp" class="member-img" alt="Miembro 2">
          <p class="member-name">Gana recompensas en cada compra</p>
        </div>

        <div class="col-12 col-md-6 card mb-4 text-center">
          <img src="assets/members2.webp" class="member-img" alt="Miembro 3">
          <p class="member-name">Visitanos en la sucursal y obten ofertas exclusivas</p>
        </div>

        <div class="col-12 col-md-6 mb-4 text-center">
          <img src="assets/members1.webp" class="member-img" alt="Miembro 4">
          <p class="member-name">Obten tu primer beneficio al registrarte</p>
        </div>

      </div>
        <p style="text-align: center; margin-top: 2rem;"><a class="homelink" routerLink="/home">&lt; Volver a Inicio</a></p>
    </div>

  </div>
</section>
