.container{
  height: 100%;
}

.fluid-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;

}
#members{
  height: 88vh;
  background-color:#F9F6ED;
}

.banner {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  color: #F9F6ED;

  p{
  font-size: 3rem;
  }

  button{
    width: 33%;
    align-self: center;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 4rem;
    background-color: #3D5CA1;
    color: #F9F6ED;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    z-index: 2;

  }
}



.banner::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 1;
}

.banner * {
  position: relative;
  z-index: 2;
}

.card{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: transparent;
  border: none;
  padding-left: 10%;
  padding-right: 10%;
}


#members .member-img {
  align-self: center;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  object-fit: cover;
}

#members .member-name {
  margin-top: 10px;
  font-size: 1rem;
}

.homelink{
  text-decoration: none;
  font-size: 1rem;
   font-family: "Old Standard TT", serif;
  color: black;
  margin-top: 2rem;
  cursor: pointer;

}


@media (max-width:800px) {
  #members{
    height: auto;
    padding-top: 10vh;
  }
  .banner{
    min-height: 33vh;
    gap: .75rem;


    p{
      font-size: 2rem;
    }


    button{
      width: 40%;
    }

  }
  .row{
    height: auto;
    max-height: none;
  }
}
