  <section id="location">
     <div class="linea-con-imagen">
      <img src="/assets/logo.png" alt="icono" class="imagen-centro">
    </div>
  <div class="location fondo-degradado">
    <div class="text-container">
      <p class="cursive-title">visitanos en</p>
      <p class="title">Nuestra Sucursal</p>
    </div>

    <div class="card-container">
      <div class="loc-card">
        <img src="assets/location.png" alt="location">
        <p class="title">Pretty Lamb I</p>
        <p class="text">calle Circuito Alamos 2da Seccion 60 <br>Queretaro,MX <br><br>
        +52 663 434 5433</p>
        <p class="text">Lun. a Sab. de 9 a 21 hrs. <br>Dom. de 9 a 18 hrs. <br><b>Pet Friendly</b></p>
        <button class="loc-btn"><b>Ver Ubicacion</b></button>

      </div>

    </div>

  </div>

  </section>
