<!-- NAV BAR -->
<div class="col-12 nav">
  <i class="bi bi-list" style="font-size: 2rem; cursor:pointer;" (click)="toggleSidebar()"></i>
  <p routerLink="" class="logo">Pretty Lamb</p>
  <a target="_blank" href="https://maps.app.goo.gl/hDHbZMFeSHmFG2yc8"><i class="bi bi-geo-alt-fill" style="font-size: 2rem;"></i></a>
</div>

<!-- OVERLAY (tocar fuera cierra) -->
<div class="overlay" *ngIf="sidebarOpen" (click)="closeSidebar()"></div>

<!-- SIDEBAR -->
<div id="sidebar" [class.open]="sidebarOpen">

  <!-- BOTÓN X DE CIERRE -->
  <i class="bi bi-x-lg close-btn" (click)="closeSidebar()"></i>

 <ul>
    <li><a routerLink="menu" (click)="closeSidebar()">Menu</a></li>
    <li><a routerLink="flores" (click)="closeSidebar()">Flores + Cafe</a></li>
    <li><a routerLink="members" (click)="closeSidebar()">Pretty Lamb Members</a></li>
    <li><a [routerLink]="['/home']" fragment="location" (click)="closeSidebar()">Sucursales</a></li>
    <li><a [routerLink]="['/home']" fragment="about" (click)="closeSidebar()">Conócenos</a></li>
    <li style="display:flex; flex-direction:row; gap: .75rem;">
      <a target="_blank" href="https://www.instagram.com/prettylamb__/?hl=es"><i class="bi bi-instagram"></i></a>
      <a target="_blank" href="https://www.tiktok.com/@prettylamb__"><i class="bi bi-tiktok"></i></a>
    </li>
  </ul>


<div class="cards">
      <div class="icons">
      <i class="bi bi-credit-card"></i>
      <i class="bi bi-paypal"></i>
      </div>
        <p>Presencia en uber eats</p>
  </div>
</div>
