 <section id="members">
    <div class="members">
      <div class="col-memb-img">
        <img class="d-none d-md-block mt-4" src="assets/members.webp" alt="">
      </div>
      <div class="col-memb">
        <div class="col-titles">
        <p class="cursive-title">se parte de</p>
        <p class="title">Pretty Lamb Members</p>
        </div>
         <div class="col-memb-img">
           <img class="d-block d-md-none mt-4" src="assets/members.webp" alt="">
         </div>
        <p>Solo ingresa tu nombre y el folio de tu compra para comenzar a acumular recompensas</p>
       <button routerLink="/members" class="fav-btn">!Quiero Unirme!</button>

      </div>
    </div>
  </section>
