/* You can add global styles to this file, and also import other style files */
*{
  font-family: "Inter", sans-serif;
}

.cursive-title {
  font-family: "Kapakana", cursive;
  text-align: center;
  font-size: 45px;
  margin: 0;
  padding: 0;
  margin-bottom: -20px;
}

.title {
  margin: 0;
  padding: 0;
  font-family: "Old Standard TT", serif;
  font-size: 45px;
}

