<section id="Favorites">
  <div class="favorites col-12">

    <div class="fav-title">
      <p class="cursive-title">conoce los</p>
      <p class="title">Favoritos</p>
    </div>

    <div class="cards col-12">
      <div class="card">
        <img src="assets/hot latte.webp" alt="">
        <img src="assets/iced latte.webp" alt="">
        <img src="assets/bugambilia drink.webp" alt="">
        <img src="assets/coconut drink.webp" alt="">
      </div>
    </div>

    <button class="fav-btn">Ver Menu</button>

  </div>
</section>
